*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}

body{
    background-image:url('https://c1.wallpaperflare.com/preview/105/785/174/sky-cloud-plane-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    /* background-position: center; */

}
.maindetails
{
  color: black;
  /* font-weight: 800; */
}

.subdetails{
  

  color:black;
  /* font-weight: 800; */

}


  /* ::placeholder {
    font-weight: 900;
    color: white;
  }
  ::-ms-input-placeholder { /* Edge 12-18 
    color: white;
  } */
 

    input::placeholder {
        color:black;
        opacity: 100%;
        /* Firefox */
      }

      #output{
        display: none;
      }